<div class="aov_locations_wrap">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-8 medium-offset-2 cell aov_locations_header text-center">
                <h2 class="aov_title_header white ">Locations</h2>
            </div>
        </div>
    </div>
    <div class="grid-container aov_locations_item_wrap">
        <div class="grid-x grid-margin-x">
            <div class="medium-3 cell aov_locations_item active">
                <div class="grid-x grid-margin-x">
                    <div class="medium-12 cell">
                        <h4 class="aov_title_header blue ">Pittsburgh, PA</h4>
                    </div>
                    <div class="medium-2 cell text-center"><span
                            class="aov_location_item_icon icon-aov-location"></span></div>
                    <div class="medium-10 cell"><span class="aov_location_item_details">5804 Forbes Ave, Pittsburgh,
                            PA 15217</span></div>
                    <br>
                    <div class="medium-2 cell text-center"><span class="aov_location_item_icon icon-aov-phone"></span>
                    </div>
                    <div class="medium-10 cell aov_location_item_details"> <a href="tel:+7248241233">(724)
                            824-1233</a> </div>
                </div>
            </div>
            <div class="medium-3 cell aov_locations_item ">
                <div class="grid-x grid-margin-x">
                    <div class="medium-12 cell">
                        <h4 class="aov_title_header blue ">Makati City, PH</h4>
                    </div>
                    <div class="medium-2 cell text-center"><span
                            class="aov_location_item_icon icon-aov-location"></span></div>
                    <div class="medium-10 cell"><span class="aov_location_item_details">6D Cypress Gardens, 112 VA
                            Rufino St. Legaspi Vill Makati City 1229</span></div>
                    <br>
                    <div class="medium-2 cell text-center"><span class="aov_location_item_icon icon-aov-phone"></span>
                    </div>
                    <div class="medium-10 cell aov_location_item_details"> <a href="tel:+6325193536">(632)
                            519-3536</a> </div>
                </div>
            </div>
            <div class="medium-3 cell aov_locations_item ">
                <div class="grid-x grid-margin-x">
                    <div class="medium-12 cell">
                        <h4 class="aov_title_header blue ">Iloilo City, PH</h4>
                    </div>
                    <div class="medium-2 cell text-center"><span
                            class="aov_location_item_icon icon-aov-location"></span></div>
                    <div class="medium-10 cell"><span class="aov_location_item_details">3rd Fl., MSL Building, 132
                            Quezon St., Iloilo City</span></div>
                    <br>
                    <div class="medium-2 cell text-center"><span class="aov_location_item_icon icon-aov-phone"></span>
                    </div>
                    <div class="medium-10 cell aov_location_item_details"> <a href="tel:+63333358835">(6333)
                            335-8835</a> </div>
                </div>
            </div>
            <div class="medium-3 cell aov_locations_item ">

                <div class="grid-x grid-margin-x">
                    <div class="medium-12 cell">
                        <h4 class="aov_title_header blue ">Davao City, PH</h4>
                    </div>
                    <div class="medium-2 cell text-center"><span
                            class="aov_location_item_icon icon-aov-location"></span></div>
                    <div class="medium-10 cell"><span class="aov_location_item_details"> 3rd Floor Bernardo Bldg
                            Bonifacio St Davao City Philippines 8000</span></div>
                    <br>
                    <div class="medium-2 cell text-center"><span class="aov_location_item_icon icon-aov-phone"></span>
                    </div>
                    <div class="medium-10 cell aov_location_item_details"> <a href="tel:+63822221896">(6382)
                            222-1896</a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container fluid aov_locations_map_wrap">
        <div class="grid-x grid-margin-x">
            <div class="medium-12 cell text-center" style="position: absolute;top: 50%;"> Map Code here</div>
        </div>
    </div>
    <div class="grid-container fluid aov_locations_circles_holder">
        <div class="grid-x grid-margin-x">
            <div class="medium-12 cell">
                <div class="aov_locations_map_circles_wrap">
                    <div class="aov_locations_map_circles_item gray"></div>
                    <div class="aov_locations_map_circles_item orange"></div>
                </div>
            </div>
        </div>
    </div>
</div>