<!-- MAIN MENU -->
<div class="aov_main_menu_wrap">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">


			<div class="cell medium-3">
				<a routerLink="/"><img src="./assets/images/aov_logo.svg" class="aov_logo"></a>
			</div>

			<ul class="menu align-right">
				<li> <a class="aov_nav" id="Home" routerLink="/home" routerLinkActive="active">Home<div
							class="aov_underline"></div></a> </li>
				<li> <a class="aov_nav" id="Solutions" routerLink="/solutions" routerLinkActive="active">Solutions<div
							class="aov_underline"></div></a> </li>
				<li> <a class="aov_nav" id="Pricing" routerLink="/pricing" routerLinkActive="active">Pricing<div
							class="aov_underline"></div></a> </li>
				<li> <a class="aov_nav" id="Resources" routerLink="/resources" routerLinkActive="active">Resources<div
							class="aov_underline"></div></a> </li>
				<li> <a class="aov_nav" id="About" routerLink="/about-us" routerLinkActive="active">About Us<div
							class="aov_underline"></div></a> </li>
				<li> <a class="aov_nav" id="Contact" routerLink="/contact-aov" routerLinkActive="active">Contact AOV<div
							class="aov_underline"></div></a> </li>
				<li> <a class="aov_nav" id="Faq" routerLink="/faq" routerLinkActive="active">FAQ<div
							class="aov_underline"></div></a> </li>
				<li> <a class="aov_nav" id="Admin" routerLink="/admin-pages/dashboard" routerLinkActive="active">Admin
						<div class="aov_underline"></div></a> </li>
			</ul>

		</div>
	</div>
</div>
 
<!-- //MAIN MENU -->