<div class="aov_testimonials_wrap">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            <div class="aov_testimonials_circles_holder">
                <div class="aov_testimonials_circles_wrap">
                    <div class="aov_testimonials_circles_item gray1"></div>
                    <div class="aov_testimonials_circles_item gray2"></div>
                </div>
            </div>
            <div class="large-12 cell">
                <h2 class="aov_title_header blue text-center">Testimonials</h2>
            </div>

            <div class="cell medium-6 medium-offset-3 aov_testimonials_items_wrap">
                <div class="aov_testimonials_items">
                    <div class="grid-x grid-margin-x text-center">
                        <div class="medium-12 cell aov_testimonials_items_user">
                            <img src="./assets/images/sample_user_photo.jpg">
                        </div>
                        <div class="medium-12 cell aov_testimonials_items_content">
                            <p> A hops is boiled. A nuclear booze borrows money from a feline bud light.
                                Any Mango Beer can usually give lectures on morality to a wanker,
                                but it takes a real pin ball machine to secretly require assistance
                                from an unstable miller light.</p>
                        </div>
                        <div class="medium-12 cell aov_testimonials_items_name">
                            <span class="icon-aov-quote-right"></span>
                            <h3 class="aov_title_header black">John Berto</h3>
                            <p>CEO / Businessman</p>
                        </div>
                    </div>
                </div>

                <!-- START duplicate effect -->
                <div class="aov_testimonials_items duplicate tier1">
                    <div class="grid-x grid-margin-x text-center">
                        <div class="medium-12 cell aov_testimonials_items_user">
                            <img src="./assets/images/sample_user_photo.jpg">
                        </div>
                        <div class="medium-12 cell aov_testimonials_items_content">
                            <p> A hops is boiled. A nuclear booze borrows money from a feline bud light.
                                Any Mango Beer can usually give lectures on morality to a wanker,
                                but it takes a real pin ball machine to secretly require assistance
                                from an unstable miller light.</p>
                        </div>
                        <div class="medium-12 cell aov_testimonials_items_name">
                            <span class="icon-aov-quote-right"></span>
                            <h3 class="aov_title_header black">John Berto</h3>
                            <p>CEO / Businessman</p>
                        </div>
                    </div>
                </div>
                <div class="aov_testimonials_items duplicate tier2">
                    <div class="grid-x grid-margin-x text-center">
                        <div class="medium-12 cell aov_testimonials_items_user">
                            <img src="./assets/images/sample_user_photo.jpg">
                        </div>
                        <div class="medium-12 cell aov_testimonials_items_content">
                            <p> A hops is boiled. A nuclear booze borrows money from a feline bud light.
                                Any Mango Beer can usually give lectures on morality to a wanker,
                                but it takes a real pin ball machine to secretly require assistance
                                from an unstable miller light.</p>
                        </div>
                        <div class="medium-12 cell aov_testimonials_items_name">
                            <span class="icon-aov-quote-right"></span>
                            <h3 class="aov_title_header black">John Berto</h3>
                            <p>CEO / Businessman</p>
                        </div>
                    </div>
                </div>
                <!-- END duplicate effect -->

            </div>

        </div>
    </div>
</div>