<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<div class="body_bg aov_inner"></div>
<div class="aov_contact_us_wrap">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="aov_inner_page_header_wrap cell medium-12 text-center">
        <h2 class="aov_title_header blue">{{title}}</h2>
      </div>
      <div class=" cell medium-6 medium-offset-3 text-center">
        <h5 class="aov_sub_title blue">Feel free to call our phone number as well.
          We operate in two shifts 5 days a week
          (Mondays to Fridays).</h5>
      </div>

      <div class="cell medium-6 aov_contact_us_item ">
        <ul>
          <li>* 09:00 AM until 06:00 PM EST (-4 GMT; Not Daylight Saving Time)</li>
          <li>* 09:00 PM until 06:00 AM EST (-4 GMT; Not Daylight Saving Time)</li>
        </ul>
      </div>
      <div class="cell medium-6 aov_contact_us_item ">
        <ul>
          <li><span class="bold_font">Telephone:</span> (724) 472-8872</li>
          <li><span class="bold_font">Skype:</span> eversuniloilo</li>
          <li><span class="bold_font">Yahoo Messenger:</span> agentsofvalue</li>
          <li><span class="bold_font">Google talk :</span> support@agentsofvalue.com</li>
          <li><span class="bold_font">Email:</span> support@agentsofvalue.com</li>
        </ul>
      </div>



    </div>
  </div>

  <div class="aov_contact_us_circles_holder">
    <div class="aov_contact_us_circles_wrap">
      <div class="aov_contact_us_circles_item gray1"></div>
      <div class="aov_contact_us_circles_item gray2"></div>
      <div class="aov_contact_us_circles_item orange1"></div>
      <div class="aov_contact_us_circles_item blue"></div>
    </div>
  </div>

  <div class="grid-container ">
    <div class="grid-x grid-margin-x">
      <form class="aov_form_wrap">
        
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-12">
              <label>Your Name*
                <input type="text" placeholder="John Doe" required>
                <span class="form-error">
                  Your name is quite important for us.
                </span>
              </label>
            </div>
            <div class="cell small-12">
              <label>Your Email*
                <input type="email" placeholder="your@email.com" required>
                <span class="form-error">
                  Your email is quite important.
                </span>
              </label>
            </div>
            <div class="cell small-12">
              <div class="grid-x grid-padding-x">
                <div class="small-3 cell">
                  <label for="middle-label" class="text-center middle">Inquiry Subject   </label>
                </div>
                <div class="small-9 cell aov_subject_wrap">
                  <select name="" class="">
                    <option value="0" readonly selected> Please select concern</option>
                    <option disabled>----</option>
                    <option value="1">Subject One</option>
                    <option value="1">Subject Two</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="cell small-12">
              <label>Your Landline / Mobile*
                <input type="text" placeholder="+63 123-45-67" required>
                <span class="form-error">
                  Your contact number is quite important.
                </span>
              </label>
            </div>
            <div class="cell small-12">
              <label>Your Skype ID (optional)
                <input type="text" placeholder="Skype Name">
              </label>
            </div>
            <div class="cell small-12">
              <label>Your Website (optional)
                <input type="text" placeholder="http://your-website.com">
              </label>
            </div>
            <div class="cell small-12">
              <label>Your Message*
                <textarea type="text" rows="5" placeholder="Your Message" required></textarea>
                <span class="form-error">
                  Your message is quite important.
                </span>
              </label>
            </div>
            
          </div>
        </div>
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12 text-right">
              <button class="button round large aov_button_primary blue " type="button">Continue</button>
            </fieldset>
            
          </div>
        </div>
      </form>
    </div>
  </div>


</div><!-- // aov_solutions_wrap-->

<app-footer></app-footer>