<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<div class="body_bg aov_inner"></div>
<div class="aov_case_studies_wrap">

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="aov_inner_page_header_wrap cell medium-12 text-center">
        <h2 class="aov_title_header blue">{{title}}</h2>
      </div>

      <div class="cell medium-12">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="medium-8 cell aov_our_company_left">
              <h3 class="aov_title_header blue">Our Company</h3>
              <p>
                Trusted tech solutions provider since 2004. Has served over 800 clients from across 6
                continents.
              </p>
              <p>Since 2004, Agents of Value has been helping clients across different industries make their
                business process more efficient and accurate by providing a dedicated team of IT professionals,
                readily available to develop custom-designed, technology-driven systems, giving solutions to
                issues that are unique to their company processes.
              </p>
              <p>
                Our team of experienced web developers and designers can help develop a system that is
                specifically designed to address your needs - be it web-based or stand-alone applications.
              </p>
              <p>
                Whether you are looking for a team that can upgrade your current online platform or one that can
                create a totally new tool, you can count on us here at Agents of Value.
              </p>
              <a routerLink="/about-us class=">button medium round aov_button_primary">Read More About Our Company</a>
            </div>
            <div class="medium-4 cell aov_our_company_right ">
              <img src="./assets/images/files.svg">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- aov_testimonials_wrap-->
  <app-testimonials></app-testimonials>
  <!-- //aov_testimonials_wrap-->

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell text-center">
        <h2 class="aov_title_header blue ">TOOLS</h2>
      </div>
    </div>
  </div>

  <!-- aov_case_studies_cta_wrap-->
  <div class="aov_case_studies_cta_wrap">
    <div class="aov_case_studies_cta_circles_holder">
      <div class="aov_case_studies_cta_circles_wrap">
        <div class="aov_case_studies_cta_circles_item gray1"></div>
        <div class="aov_case_studies_cta_circles_item gray2"></div>
        <div class="aov_case_studies_cta_circles_item orange1"></div>
        <div class="aov_case_studies_cta_circles_item orange2"></div>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-margin-x">

        <div class="medium-6 cell aov_case_studies_cta_left">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="medium-4 cell text-center aov_tools_item">
                <img src="http://via.placeholder.com/80">
                <p>Tool 1</p>
              </div>
              <div class="medium-4 cell text-center aov_tools_item">
                <img src="http://via.placeholder.com/80">
                <p>Tool 1</p>
              </div>
              <div class="medium-4 cell text-center aov_tools_item">
                <img src="http://via.placeholder.com/80">
                <p>Tool 1</p>
              </div>
              <div class="medium-4 cell text-center aov_tools_item">
                <img src="http://via.placeholder.com/80">
                <p>Tool 1</p>
              </div>
              <div class="medium-4 cell text-center aov_tools_item">
                <img src="http://via.placeholder.com/80">
                <p>Tool 1</p>
              </div>
              <div class="medium-4 cell text-center aov_tools_item">
                <img src="http://via.placeholder.com/80">
                <p>Tool 1</p>
              </div>
            </div>
          </div>

        </div>
        <div class="medium-6 cell aov_case_studies_cta_right">
          <img src="./assets/images/wordpress_image.jpg">
        </div>



      </div>
    </div>
    <!-- //aov_case_studies_cta_wrap-->

  </div> <!-- //aov_home_wrap -->

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell text-center">
        <div class="aov_case_studies_cta_divider"></div>
      </div>
    </div>
  </div>

  <!--app-newsletter-subscription-->
  <app-newsletter-subscription></app-newsletter-subscription>
  <!--//app-newsletter-subscription-->

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell text-center">
        <div class="aov_case_studies_cta_divider"></div>
      </div>
      <div class="medium-12 cell text-center">
        <div class="aov_case_studies_cta_divider"></div>
      </div>
    </div>
  </div>

  </div><!-- // aov_case_studies_wrap-->

  <app-footer></app-footer>