<div class="aov_newsletter_subscription_wrap">
    <div class="grid-container ">
        <div class="grid-x grid-margin-x">
            <div class="medium-12 cell text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, maiores ab. Quo asperiores
                    consectetur
                    quaerat voluptates aut debitis assumenda iusto necessitatibus vitae impedit? Maxime rerum ad tempore
                    totam
                    voluptatibus doloribus!</p>
            </div>

            <div class="medium-12 cell text-center">
                <input class="aov_input" name="" placeholder="Name">
                <input class="aov_input" name="" placeholder="Email">
                <a class="button round medium aov_button_primary">Submit</a>
            </div>

        </div>
    </div>
</div>