<footer class="aov_footer_wrap">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">

        <div class="cell medium-12">
          <ul class="menu align-center">

            <li><img title="Agents Of Value" src="./assets/images/aov_badge.svg" class="aov_footer_badge"> </li>
            <li class="menu-text">Online Brand Of </li>
            <li><img title="Eversun Software Philippines Corp." src="./assets/images/eversun_badge.svg" class="aov_footer_badge"> </li>
          </ul>
        </div>

        <div class="cell medium-12">
          <ul class="menu align-center">

            <li> <a href="#"><span class="aov_social_icons icon-aov-facebook"></span></a> </li>
            <li> <a href="#"><span class="aov_social_icons icon-aov-twitter"></span></a> </li>
            <li> <a href="#"><span class="aov_social_icons icon-aov-instagram"></span></a> </li>
          </ul>
        </div>

        <div class="cell medium-12">
          <ul class="menu align-center aov_footer_nav">

            <li> <a routerLink="/">Home</a> </li>
            <li> <a routerLink="/solutions">Solutions</a> </li>
            <li> <a routerLink="/pricing">Pricing</a> </li>
            <li> <a routerLink="/resources">Resources</a> </li>
            <li> <a routerLink="/training-department">Training Department</a> </li>
            <li> <a routerLink="/contact-aov">Contact AOV</a> </li>
            <li> <a routerLink="/billing">Billing</a> </li>
            <!-- <li> <a routerLink="/faq">FAQ</a> </li>
            <li> <a routerLink="/blogs">Blogs</a> </li>
            <li> <a routerLink="/case-studies">Case Studies</a> </li> -->

          </ul>
        </div>
        <div class="cell medium-6 medium-offset-3">
          <p class="text-center">© 2019 by Agents of Value.  150 Chaney Court New Kensington PA 15068
            <a href="tel:+7244728872"> (724) 472 - 8872</a></p>
        </div>
      </div>
    </div>
  </footer>