<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<div class="body_bg aov_inner"></div>
<div class="aov_billing_wrap">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="aov_inner_page_header_wrap cell medium-12 text-center">
                <h2 class="aov_title_header blue">{{title}}</h2>
            </div>
        </div>
    </div>

   <div class="aov_billing_circles_holder">
        <div class="aov_billing_circles_wrap">
            <div class="aov_billing_circles_item gray1"></div>
            <div class="aov_billing_circles_item gray2"></div>
            <div class="aov_billing_circles_item orange1"></div>
            <div class="aov_billing_circles_item blue"></div>
        </div>
    </div>
    
    <div class="grid-container ">
        <div class="grid-x grid-margin-x">
            <form class="aov_form_wrap">

                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-12 aov_billing_header">
                            <h4 class="aov_sub_title gray">Guest, Welcome!</h4>
                            <ul class="menu align-right">
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <a href="#">Need Help?</a>
                                </li>
                            </ul>
                        </div>

                        <div class="cell small-12">
                            <div class="grid-x grid-padding-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="text-left middle bold_font">Invoice Number:</label>
                                </div>
                                <div class="small-9 cell aov_input_wrap">
                                    <a class="button tiny round aov_button_primary blue aov_questions_button">What is
                                        this?</a>
                                    <input type="text" placeholder="Please type in your invoce Number">
                                </div>
                            </div>
                        </div>
                        <div class="cell small-12">
                            <div class="grid-x grid-padding-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="text-left middle bold_font">Amount:</label>
                                </div>
                                <div class="small-9 cell aov_input_wrap">
                                    <input type="text" placeholder="Please type in the amount">
                                </div>
                            </div>
                        </div>
                        <div class="cell small-12">
                            <div class="grid-x grid-padding-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="text-left middle bold_font">First Name:</label>
                                </div>
                                <div class="small-9 cell aov_input_wrap">
                                    <input type="text" placeholder="Your First name">
                                </div>
                            </div>
                        </div>
                        <div class="cell small-12">
                            <div class="grid-x grid-padding-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="text-left middle bold_font">Last Name:</label>
                                </div>
                                <div class="small-9 cell aov_input_wrap">
                                    <input type="text" placeholder="Your Last name">
                                </div>
                            </div>
                        </div>
                        <div class="cell small-12">
                            <div class="grid-x grid-padding-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="text-left middle bold_font">Credit Card
                                        Number:</label>
                                </div>
                                <div class="small-9 cell aov_input_wrap">
                                    <input type="text" placeholder="Credit Card Number">
                                    <ul class="menu align-right aov_credit_cards">
                                        <li><img src="./assets/images/jcb.png"></li>
                                        <li><img src="./assets/images/AE.png"></li>
                                        <li><img src="./assets/images/discover.png"></li>
                                        <li><img src="./assets/images/master-card.png"></li>
                                        <li><img src="./assets/images/visa.png"></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cell small-12">
                            <div class="grid-x grid-padding-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="text-left middle bold_font">Security Code:</label>
                                </div>
                                <div class="small-9 cell aov_input_wrap">
                                    <a class="button tiny round aov_button_primary blue aov_questions_button">What is
                                        this?</a>
                                    <input type="text" placeholder="Please type in your Security Code">
                                </div>
                            </div>
                        </div>
                        <div class="cell small-12">
                            <div class="grid-x grid-padding-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="text-left middle bold_font">Expiration Date:</label>
                                </div>
                                <div class="small-6 cell ">
                                    <select>
                                        <option value="1">1-January</option>
                                        <option value="2">2-February</option>
                                    </select>
                                </div>
                                <div class="small-3 cell aov_input_wrap">
                                    <select>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                     </select>
                                </div>
                            </div>
                        </div>
                        <div class="cell small-12">
                            <div class="grid-x grid-padding-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="text-left middle bold_font">Email:</label>
                                </div>
                                <div class="small-9 cell aov_input_wrap">
                                    <input type="text" placeholder="Your Email">
                                    
                                    <div class="float-left">
                                        <input id="checkbox1" checked type="checkbox"><label for="checkbox1">Save this credit card.</label>
                                    </div>
                                    <button class="float-right button round large aov_button_primary blue " type="button">Continue</button>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                 
            </form>
        </div>
    </div>

 

</div><!-- // aov_solutions_wrap-->

<app-footer></app-footer>