<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<div class="body_bg aov_home"></div>
<div  class="aov_home_wrap">

    <div class="aov_banner_wrap">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-6 cell aov_banner_left">
                    <h2 class="aov_title_header white">
                        We don't simply
                        build tech solutions.
                        We build what you need.

                    </h2>
                    <p class="aov_banner_description">
                        Tell us the pain points of your current business process. We provide a dedicated team to develop
                        technology-driven solutions to make it way better.

                    </p>
                    <p>
                        <button   class="button round large aov_button_primary">SEND INQUIRIES TO GET
                            STARTED</button>
                    </p>
                </div>
                <div class="medium-6 cell text-center">
                    <img src="./assets/images/main_banner.svg">
                </div>
                <div class="medium-12 cell">
                    <div class="aov_banner_circles_wrap">
                        <div class="aov_banner_circles_item blue"></div>
                        <div class="aov_banner_circles_item orange"></div>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- //aov_banner_wrap-->

    <!-- aov_our_company_wrap-->
    <div class="aov_our_company_wrap">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-4 cell aov_our_company_left ">
                    <img src="./assets/images/our_company.svg">
                </div>
                <div class="medium-8 cell aov_our_company_right">
                    <h2 class="aov_title_header blue">Our Company</h2>
                    <p>
                        Trusted tech solutions provider since 2004. Has served over 800 clients from across 6
                        continents.
                    </p>
                    <p>Since 2004, Agents of Value has been helping clients across different industries make their
                        business process more efficient and accurate by providing a dedicated team of IT professionals,
                        readily available to develop custom-designed, technology-driven systems, giving solutions to
                        issues that are unique to their company processes.
                    </p>
                    <p>
                        Our team of experienced web developers and designers can help develop a system that is
                        specifically designed to address your needs - be it web-based or stand-alone applications.
                    </p>
                    <p>
                        Whether you are looking for a team that can upgrade your current online platform or one that can
                        create a totally new tool, you can count on us here at Agents of Value.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //aov_our_company_wrap-->

    <!-- aov_services_wrap-->
    <div class="aov_services_wrap">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-4 cell aov_services_item">
                    <img src="./assets/images/monitor.svg">
                    <h4 class="aov_title_header orange normal_font">Digital Marketing & Back Office Support </h4>
                    <p>Back-office tasks such as Research, Data Mining, Curation and maintenance of documents, encoding,
                        etc. General Virtual Assistant tasks and Executive Assistant Tasks.
                    </p>
                    <a href="#" class="button clear orange aov_button_clear">More Info <span
                        class="icon-aov-arrow-right float-right"></span></a>
                    </div>
                    <div class="medium-4 cell aov_services_item">
                        <img src="./assets/images/lens.svg">
                        <h4 class="aov_title_header orange normal_font">Digital Asset Updates & Website Maintenance </h4>
                        <p>From maintaining your site to its tip top shape to making your brand sky-rocket in organic search
                            results, Agents of Values' experienced team will be your best aid.
                        </p>
                    <a href="#" class="button clear orange aov_button_clear">More Info <span
                            class="icon-aov-arrow-right float-right"></span></a>
                </div>
                <div class="medium-4 cell aov_services_item">
                    <img src="./assets/images/software.svg">
                    <h4 class="aov_title_header orange normal_font">Business Specific Software Development</h4>
                    <p>Our experienced team specializes in PHP and Laravel PHP Framework for high-speed prototyping and
                        applicable in rapid application development. We are also familiar with the latest front end
                        frameworks such as React and have a good understanding with Object-Oriented CSS for high quality
                        front end codes.
                    </p>
                    <a href="#" class="button clear orange aov_button_clear">More Info <span
                            class="icon-aov-arrow-right float-right"></span></a>
                </div>

            </div>
        </div>
    </div> <!-- //aov_services_wrap-->

    <!-- aov_cta_services_wrap-->
    <div class="aov_cta_services_wrap hide">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-4 cell aov_cta_services_item">
                    <img src="./assets/images/code.svg">
                    <h4 class="aov_title_header orange normal_font">
                        Our Services
                    </h4>
                    <p>How can we help?</p>
                </div>
                <div class="medium-4 cell aov_cta_services_item">
                    <img src="./assets/images/necktie.svg">
                    <h4 class="aov_title_header orange normal_font">
                        Our Services
                    </h4>
                    <p>Why partners with us?</p>
                </div>
                <div class="medium-4 cell aov_cta_services_item">
                    <img src="./assets/images/user.svg">
                    <h4 class="aov_title_header orange normal_font">
                        Our Customers
                    </h4>
                    <p>Client sucess stories</p>
                </div>

            </div>
        </div>
    </div>
    <!-- //aov_cta_services_wrap-->

    <!-- aov_specialization_wrap-->
    <div class="aov_specialization_wrap">
        <div class="grid-container fluid">
            <div class="grid-x grid-margin-x">
                <div class="large-12 cell">
                    <h2 class="aov_title_header blue text-center">We Specialize In</h2>
                </div>
                <!-- <div class="autoplay"> -->
                <div class="cell auto aov_specialization_items"> <span class="icon-aov-python"></span> Python</div>
                <div class="cell auto aov_specialization_items"> <span class="icon-aov-laravel"></span>Laravel</div>
                <div class="cell auto aov_specialization_items"> <span class="icon-aov-php"></span>PHP</div>
                <div class="cell auto aov_specialization_items"> <span class="icon-aov-javascript"></span>Javascript
                </div>
                <div class="cell auto aov_specialization_items"> <span class="icon-aov-angular"></span>Angular JS</div>
                <div class="cell auto aov_specialization_items"> <span class="icon-aov-ionic"></span>Ionic</div>
                <div class="cell auto aov_specialization_items"> <span class="icon-aov-wordpress"></span>WordPress</div>
                <div class="cell auto aov_specialization_items"> <span class="icon-aov-codeigniter"></span>Codeigniter
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- //aov_specialization_wrap-->


    <!-- aov_industries_we_serve_wrap-->
    <div class="aov_industries_we_serve_wrap">
        <div class="grid-container aov_industries_we_serve_header">
            <div class="grid-x grid-margin-x">
                <div class="medium-6 medium-offset-3 cell text-center">
                    <h2 class="aov_title_header blue ">Industries We Serve</h2>
                    <p>Agents of Value have already provided solutions for our clients in numerous industries.</p>
                    <p>At Agents of Value, we understand that every industry has its own set of challenges. We work
                        meticulously with each client to create custom solutions that fit their objectives
                    </p>
                </div>
            </div>
        </div>

        <div class="aov_industries_we_serve_content">
            <div class="grid-container">
                <div class="grid-x grid-margin-x aov_industries_we_serve_item_wrap">
                    <div class=" small-6 cell medium-auto  aov_industries_we_serve_item">
                        <img src="./assets/images/grad_cap.svg">
                        <h4 class="aov_title_header orange normal_font">Education</h4>
                        <p>Learning platforms organize, track and update quality management processes that are in place.
                            The plus points of automating learning increases compliance rates and the integration of
                            training with employee records make retrieval and updating a cinch.

                        </p>
                        <a href="#" class="button clear orange aov_button_clear">More Info <span
                                class="icon-aov-arrow-right float-right"></span></a>
                    </div>
                    <div class=" small-6 cell medium-auto  aov_industries_we_serve_item">
                        <img src="./assets/images/heart.svg">
                        <h4 class="aov_title_header orange normal_font">Health Care</h4>
                        <p>Automation in the healthcare industry is cost-effective, time-saving processes that safeguard
                            for both healthcare practitioners and their patients. We organize and establish patient
                            management systems for accurate point-of-care for your patients.


                        </p>
                        <a href="#" class="button clear orange aov_button_clear">More Info <span
                                class="icon-aov-arrow-right float-right"></span></a>
                    </div>
                    <div class=" small-6 cell medium-auto  aov_industries_we_serve_item">
                        <img src="./assets/images/basket.svg">
                        <h4 class="aov_title_header orange normal_font">Retail</h4>
                        <p>Technology is an integral for a retail business to run like a well-oiled machine. Quality
                            customer experience benefit most when businesses have software that automates invoicing and
                            billing and point-of-sale processes. With order, payment and delivery done by software
                            leaves more opportunity to nurture customer relations.


                        </p>
                        <a href="#" class="button clear orange aov_button_clear">More Info <span
                                class="icon-aov-arrow-right float-right"></span></a>
                    </div>
                    <div class=" small-6 cell medium-auto  aov_industries_we_serve_item">
                        <img src="./assets/images/mobile.svg">
                        <h4 class="aov_title_header orange normal_font">Technology</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.

                        </p>
                        <a href="#" class="button clear orange aov_button_clear">More Info <span
                                class="icon-aov-arrow-right float-right"></span></a>
                    </div>
                    <div class=" small-6 cell medium-auto  aov_industries_we_serve_item">
                        <img src="./assets/images/airplane.svg">
                        <h4 class="aov_title_header orange normal_font">Travel & Leisure</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.

                        </p>
                        <a href="#" class="button clear orange aov_button_clear">More Info <span
                                class="icon-aov-arrow-right float-right"></span></a>
                    </div>

                </div>
            </div>
            <div class="grid-container aov_industries_circles_holder">
                <div class="grid-x grid-margin-x ">
                    <div class="medium-12 cell">
                        <div class="aov_industries_circles_wrap">
                            <div class="aov_industries_circles_item gray2"></div>
                            <div class="aov_industries_circles_item orange"></div>
                            <div class="aov_industries_circles_item gray1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //aov_industries_we_serve_wrap-->

    <!-- aov_case_studies_wrap-->
    <div class="aov_case_studies_wrap">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-6 medium-offset-3 cell aov_case_studies_header text-center">
                    <h2 class="aov_title_header blue ">Case Studies</h2>
                    <p>Lorem ipsum contens is awesome. Love the punctions and all haha.</p>
                </div>
                <div class="medium-4 cell aov_case_studies_item text-center">
                    <img src="./assets/images/1_case_studies.jpg">
                    <h5 class="aov_title_header black ">ProSound and Stage Lighting</h5>
                    <a routerLink="/case-studies" class="button large round aov_button_primary">Read More</a>
                </div>
                <div class="medium-4 cell aov_case_studies_item text-center">
                    <img src="./assets/images/2_case_studies.jpg">
                    <h5 class="aov_title_header black ">Wiz Inventory</h5>
                    <a routerLink="/case-studies" class="button large round aov_button_primary">Read More</a>
                </div>
                <div class="medium-4 cell aov_case_studies_item text-center">
                    <img src="./assets/images/3_case_studies.jpg">
                    <h5 class="aov_title_header black ">Internet Domain Name System</h5>
                    <a routerLink="/case-studies" class="button large round aov_button_primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //aov_case_studies_wrap-->

    <!-- aov_locations_wrap-->
    <app-locations></app-locations>
    <!-- //aov_locations_wrap-->

    <!-- aov_blog_wrap-->
    <div class="aov_blog_wrap">
        <div class="aov_blog_circles_holder">
            <div class="aov_blog_circles_wrap">
                <div class="aov_blog_circles_item gray1"></div>
                <div class="aov_blog_circles_item gray2"></div>
                <div class="aov_blog_circles_item blue"></div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-6 medium-offset-3 cell aov_blog_header text-center">
                    <h2 class="aov_title_header blue ">BLOG</h2>
                </div>
                <div class="medium-4 cell aov_blog_item text-center">
                    <a href="#"><img src="./assets/images/1_blog.jpg"></a>
                    <a href="#">
                        <h5 class="aov_title_header blue ">What It Takes To Be A Virtual Assistant</h5>
                    </a>
                    <div class="grid-x grid-margin-x aov_blog_footer">
                        <div class="cell medium-auto text-center">
                            <span class="icon-aov-calendar"></span> May. 12, 2017
                        </div>
                        <div class="cell medium-auto text-center">
                            <span class="icon-aov-user"></span> By: Florie
                        </div>
                        <div class="cell medium-auto text-center">
                            <span class="icon-aov-chat"></span> 38
                        </div>
                    </div>
                </div>

                <div class="medium-4 cell aov_blog_item text-center">
                    <a href="#"><img src="./assets/images/1_blog.jpg"></a>
                    <a href="#">
                        <h5 class="aov_title_header blue ">What It Takes To Be A Virtual Assistant</h5>
                    </a>
                    <div class="grid-x grid-margin-x aov_blog_footer">
                        <div class="cell medium-auto text-center">
                            <span class="icon-aov-calendar"></span> May. 12, 2017
                        </div>
                        <div class="cell medium-auto text-center">
                            <span class="icon-aov-user"></span> By: Florie
                        </div>
                        <div class="cell medium-auto text-center">
                            <span class="icon-aov-chat"></span> 38
                        </div>
                    </div>
                </div>

                <div class="medium-4 cell aov_blog_item text-center">
                    <a href="#"><img src="./assets/images/1_blog.jpg"></a>
                    <a href="#">
                        <h5 class="aov_title_header blue ">What It Takes To Be A Virtual Assistant</h5>
                    </a>
                    <div class="grid-x grid-margin-x aov_blog_footer">
                        <div class="cell medium-auto text-center">
                            <span class="icon-aov-calendar"></span> May. 12, 2017
                        </div>
                        <div class="cell medium-auto text-center">
                            <span class="icon-aov-user"></span> By: Florie
                        </div>
                        <div class="cell medium-auto text-center">
                            <span class="icon-aov-chat"></span> 38
                        </div>
                    </div>
                </div>

                <div class="medium-12 cell text-center">
                    <a href="#" class="button large round aov_button_primary">View All</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //aov_blog_wrap-->


    <!-- aov_testimonials_wrap-->
    <app-testimonials></app-testimonials>
    <!-- //aov_testimonials_wrap-->


    <!-- aov_footer_cta_wrap-->
   <app-footer-cta></app-footer-cta> 
   <!-- //aov_home_wrap -->

        <app-footer></app-footer>