<!-- TOP NAV -->
<div class="aov_top_nav_wrap">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-6 small-12">
          <ul class="menu align-left">
            <li><a class="top_nav" href="tel:+17248241233"><span class="icon-aov-phone"></span> (724) 824-1233</a></li>
            <li><a class="top_nav" href="#"><span class="icon-aov-location"></span> 5804 Forbes Ave, Pittsburgh, PA 15217</a></li>
          </ul>
        </div>
        <div class="cell medium-6 small-12">
          <ul class="menu align-right">
            <li><a class="top_nav" href="#"><span class="icon-aov-facebook"></span></a></li>
            <li><a class="top_nav" href="#"><span class="icon-aov-twitter"></span></a></li>
            <li><a class="top_nav" href="#"><span class="icon-aov-instagram"></span></a></li>
            <li><a class="top_nav" href="#"><span class="icon-aov-linkedin"></span></a></li>
          </ul>
        </div>
        
        <!-- <div class="aov_banner_bg">
          <div class="aov_banner_bg_overlay">
          </div>
        </div> -->
  
      </div>
    </div>
  </div>
  <!-- //TOP NAV -->
  