<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>

<div class="body_bg aov_inner"></div>
<div class="aov_about_us_wrap">

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="aov_inner_page_header_wrap cell medium-12 text-center">
        <h2 class="aov_title_header blue">{{title}}</h2>
      </div>

      <div class="cell medium-12 aov_about_us_item_wrap">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="medium-4 cell aov_about_us_item ">
              <img src="./assets/images/star_badge.svg">
            </div>
            <div class="medium-8 cell aov_about_us_item">
              <h3 class="aov_title_header blue">Who We Are</h3>
              <h5 class="aov_sub_title gray">Inventive. Proactive. Professional.</h5>

              <p>It was in 2004 that Agents of Value had its humble beginnings. We started out as a virtual staffing
                company, providing dedicated agents to clients from countries across different continents, but mainly
                from the USA, UK, Australia, South Africa, and some countries in Asia. Back then, the tasks assigned to
                our agents were internet marketing, web content development, SEO, web design and development, and
                virtual assistance. Today, more than a decade after, Agents of Value has achieved several milestones.
                From one small office in Makati in the Philippines, the company has expanded and now has two more
                offices for its operations in strategic locations in the country. And from staff leasing, the company
                has evolved into a full-fledged tech solutions provider with over a hundred agents who are skilled IT
                professionals, ready to serve and meet industry demands.
              </p>
            </div>

          </div>
        </div>
      </div>

      <div class="cell medium-12 aov_about_us_item_wrap">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="medium-8 cell aov_about_us_item">
              <h3 class="aov_title_header blue">What We Do</h3>
 
              <p>Our agents are composed of different teams in the area of software development, web design, web
                development, digital marketing, virtual assistance, quality assurance support, and content development.
                All of our services come in different packages, which are tailored to your project specifications and
                budget. We do a lot of cool stuff here at Agents of Value. And by that, we mean to say, different
                software applications custom-designed to our clients’ business needs. Clients contact us and they share
                to us the pain points of their business process. We analyze, brainstorm with our team, and come up with
                recommended solutions. We then provide a dedicated and most qualified team to work on a project and
                deliver them according to clients’ schedules and specifications.
              </p>
            </div>
            <div class="medium-4 cell aov_about_us_item ">
              <img src="./assets/images/code.svg">
            </div>

          </div>
        </div>
      </div>

      <div class="cell medium-12 aov_about_us_item_wrap">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="medium-4 cell aov_about_us_item ">
              <img src="./assets/images/ribbon_1.svg">
            </div>
            <div class="medium-8 cell aov_about_us_item">
              <h3 class="aov_title_header blue">Why We Are Different</h3>
 
              <p>We employ only the most qualified, skilled and experienced IT professionals we can find in the country.
                Once you work with us for a certain project, you can rest assured that we assign only the best team for
                the project.</p>

                <p>While other tech solutions providers just give you the finished product and then compel you to buy for
                related licenses for upgrades or updates thereafter, here at AOV, what we do is assign a dedicated team
                to develop the software you need, which you can call your own - 100%. We then provide ongoing support to
                address issues that may arise related to technology updates and upgrades.
              </p>
            </div>
            

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- aov_locations_wrap-->
  <app-locations></app-locations>
  <!-- //aov_locations_wrap-->

</div><!-- // aov_about_us_wrap-->

<app-footer></app-footer>