
/*
 * GLOBALS
 */
 @import "../../../variables.scss";

.aov_about_us_wrap{

    .aov_inner_page_header_wrap{
        .aov_title_header{
            margin: 50px 0px 100px 0px;
        }
    }
    .aov_about_us_item_wrap{
        margin-bottom: 150px;
        
        .aov_about_us_item{
            img{
                background: $aov_normal_blue;
                border-radius: 100%;
            }
        }
    }
}