<app-top-nav></app-top-nav>
<app-main-nav></app-main-nav>
<div class="body_bg aov_inner"></div>
<div class="aov_resources_wrap">

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="aov_inner_page_header_wrap cell medium-12 text-center">
        <h2 class="aov_title_header blue">{{title}}</h2>
      </div>
      <div class=" cell medium-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
            similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
            similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
            similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
            similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
            similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
            similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
            similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
                similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
                similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
                similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
                similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
                similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
                similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro, hic ullam impedit reiciendis ipsa sapiente
                similique voluptatem dicta magnam, adipisci vero. Ex natus alias, aliquid ut voluptatum ipsa molestias?</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>