
    <!-- aov_footer_cta_wrap-->
    <div class="aov_footer_cta_wrap">
        <div class="aov_footer_cta_circles_holder">
            <div class="aov_footer_cta_circles_wrap">
                <div class="aov_footer_cta_circles_item gray1"></div>
                <div class="aov_footer_cta_circles_item gray2"></div>
                <div class="aov_footer_cta_circles_item orange1 hide"></div>
                <div class="aov_footer_cta_circles_item orange2"></div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-6 cell aov_footer_cta_left">
                    <h2 class="aov_title_header white ">Sometimes the Fraoch Heather Ale hibernates</h2>
                    <p>Any jersey cow can avoid contact with a miller light, but it takes a real hops to require
                        assistance from a Red Stripe living with a dude.</p>
                    <p class="">
                        <a href="#" class="aov_play_button"><span class="icon-aov-play"></span></a>
                    </p>
                </div>
                <div class="medium-6 cell aov_footer_cta_right">
                    <h2 class="aov_title_header blue ">Get a leg up on the competition</h2>
                    <p>We got your back from planning, building, creating and maintaining software solutions for
                        your business.</p>
                    <a href="#" class="button large round aov_button_primary blue">HIRE A TEAM</a>
                </div>



            </div>
        </div>
        <!-- //aov_footer_cta_wrap-->

    </div> <!-- //aov_home_wrap -->